@model ProductViewModel

@{
    ViewData["Title"] = "Products";
}

<div class="container">
<h1>Tools</h1>

@foreach (var product in Model.Products)
{
    <partial name="_ProductCard" model="product" />
}
</div>