@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Swiper sliders/carousel styles */

    /* Product details thumbnail and gallery */

    .search-bar-width {
        max-width: 50rem;
    }

    .w-136 {
        width: 34rem;
    }

    .w-152 {
        width: 38rem;
    }

    .thumbnails {
        display: flex;
        margin: 1rem auto 0;
        padding: 0;
        justify-content: center;
    }

    .thumbnail {
        width: 70px;
        height: 70px;
        overflow: hidden;
        list-style: none;
        margin: 0 0.2rem;
        cursor: pointer;
    }

        .thumbnail img {
            width: 100%;
            height: auto;
        }
}